<link href="/static/css/bootstrap-combined.min.css" rel="stylesheet">
<link href="/static/css/bootstrap-rowlink.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">
<link href="/static/css/bootstrap-tagmanager.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=ABeeZee|Anton' rel='stylesheet' type='text/css'>