<script src="/static/js/jquery-1.9.1.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/bootstrap-rowlink.js"></script>
<script src="/static/js/bootstrap-tagmanager.js"></script>