body {
	font-family: 'ABeeZee', sans-serif;
 	padding-top: 60px;
	padding-bottom: 40px;
	background-color: #494949;
	color: #cd680b;
}

input,
button,
select,
textarea {
  font-family: 'ABeeZee', sans-serif;
  color: #cd680b;
}

p {
	color: #999999;
}
.navbar-inverse .brand {
	color: #cd680b;
}

#FFFF9C

.navbar-search .icon-search {
	position: absolute;
	top: 7px;
	right: 11px;
	background-image: url("http://twitter.github.com/bootstrap/assets/img/glyphicons-halflings.png")
}

.navbar-search .search-query {
	font-family: 'ABeeZee', sans-serif;	
}

.form-horizontal legend {
	color: #cd680b;
}

.form-horizontal input, textarea, .uneditable-input {
	background-color: #494949;
	color: #999999;
}

.control-label{
	color: #999999;
}

.hero-unit {
	background-color: #393939;
	color: #cd680b;
}

.main .hero-unit {
	background-color: #393939;
	text-align: center;	
}

.main .hero-unit h1 {
	font-size: 50px;
	letter-spacing: 2px;
	text-align: center;
	margin-bottom: 20px;
}

hr {
	border-top: 1px solid #393939;
	border-bottom: 1px solid #393939;
}
.well {
	background-color: #393939;
	border: 1px solid #393939;
}

.btn-group {
	margin-left: 10px;
	margin-right: 5px;
}


.receitas h2 {
	text-align: center;
	letter-spacing: 2px;
}

.receitas .span3custom {
	text-align: center;
}

.receitas .span3custom p {
	margin-left: 10px;
	margin-right: 10px;
}

.span3custom {
	width: 325px;
}

.hunitcustom {

	padding: 60px;
	margin-bottom: 30px;
	font-size: 18px;
	line-height: 30px;
	color: inherit;
	background-color: #393939;
	-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
			border-radius: 6px;
}


.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: #494949;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #494949;
}


.table td, .table th {
	border-top: none;
	text-align: center;
}

.table th {
	font-size: 18px;
	color: #999999;
}

.rowcustom {
	margin-left: -20px;
	*zoom: 1;

	
}

.span3custom{
background-color:#494949;
border-radius:10px;
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;

}

.span3custom h3{
color:#cd680b;
}

.span3custom:hover{
background-color:#595959;
text-decoration:none;
}

.rowcustom:before,
.rowcustom:after {
	display: table;
	line-height: 0;
	content: "";
	
}

.rowcustom:after {
	clear: both;

}

.breadcrumb {
	background-color: #393939;
}

.modal,
.modal-footer {
	background-color: #393939;
}

#modalbody strong{
	color: #cd680b;
}

.modal-header .close {
	color: #fff;
}

.modal-footer {
	border-top: none;
}

.hero-unit,
.hunitcustom,
.well-large {
	-webkit-box-shadow: 0 0 75px -30px black;
	   -moz-box-shadow: 0 0 75px -30px black;
	        box-shadow: 0 0 75px -30px black;

}



